#enter {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-radius: 60px;
    -fx-font-size: 18px;
    -fx-border-width: 2px;
    -fx-background-radius: 60px;
}

#menu{
    -fx-background-color: #B47E00;
    -fx-padding: -80 -40 20 10;
    -fx-alignment: center;
}

#enter:hover{
    /* -fx-background-color: radial-gradient(center 50% 50%, radius 50%, rgb(214, 198, 124) 0%, transparent 100%); */
    -fx-text-fill: white;
    -fx-background-color: rgba(51, 51, 51, 0.5);
}
#login,#password{
    -fx-background-color: rgba(51, 51, 51, 0.5);
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-background-radius: 1px;
}
#login:hover{
    -fx-font-size: 13px;
}
#password:hover{
    -fx-font-size: 13px;
}
#b1,#b2 {
    -fx-background-color: rgba(51, 51, 51, 0.5);
    -fx-border-radius:60px;
    -fx-background-radius: 1px;
}
#text-1,#text-2 {
    -fx-text-fill: white;
    -fx-font-size: 9px;
}
#rectangle {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-color: linear-gradient(to right, black 32.4%,  #B47E00 32.4%);
}
#closed {
    -fx-border-radius: 50%;
    -fx-background-color: transparent;
    -fx-border-width: 3px;
    -fx-border-color: radial-gradient(center 90% 100%, radius 50%, black 10%, #B47E00 100%);
    -fx-font-size: 9px;
    -fx-background-radius: 60px;
    -fx-text-fill: #B47E00;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, #00000099, 4, 0.5, 2, 2);
    -fx-padding: 6px;
    -fx-transition: all 0.3s ease;
}

#closed:hover {
    -fx-background-color: radial-gradient(center 50% 50%, radius 80%, rgba(255, 0, 0, 0.6) 0%, transparent 100%);
    -fx-border-color: #B47E00;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}
#divider > .split-pane-divider {
    -fx-pref-width: 0;
    -fx-min-width: 0;
    -fx-max-width: 0;
}
#funcionario,#Novavenda,#Produtos,#Fornecedores,#VideoAulas,#Despesas{
    -fx-background-color: transparent;
    -fx-font-size: 18px;
    -fx-text-fill: white;
    -fx-margin-bottom: 30px;
}
#user {
    -fx-shape: "M 0 10 L 150 10 L 160 25 L 150 40 L 0 40 L 0 25 Z";
    -fx-background-color: black;
    -fx-text-fill: #B47E00;
}
#search{
    -fx-background-color: linear-gradient(to bottom,rgba(180, 126, 0, 0.7),rgba(255, 215, 0, 0.7),rgba(255, 215, 0, 0.7));
    -fx-border-color: #b8860b;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}
#buttonOptions{
    -fx-background-color: transparent;

}
#sair {
    -fx-background-color: transparent;
    -fx-border-radius: 60px;
    -fx-text-fill: white;
    -fx-background-radius: 60px;
}

#funcionario:hover{
    -fx-background-color: linear-gradient(to right, black 30%, #B47E00 100%);
    
}
.hover-img {
    -fx-effect: innershadow(gaussian, #B47E00, 12, 2, 0, 0);
}
#Novavenda:hover{
     -fx-background-color: linear-gradient(to right, black 30%, #B47E00 100%);
     
}
#Produtos:hover{
    -fx-background-color: linear-gradient(to right, black 30%, #B47E00 100%);
    
}
#Fornecedores:hover{
    -fx-background-color: linear-gradient(to right, black 30%, #B47E00 100%);
    
}
#VideoAulas:hover{
    -fx-background-color: linear-gradient(to right, black 30%, #B47E00 100%);
    
}
#Despesas:hover{
    -fx-background-color: linear-gradient(to right, black 30%, #B47E00 100%);

}

#rectangle2 {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-color:#B47E00;
}
#minimized {
    -fx-border-radius: 50%;
    -fx-background-color: transparent;
    -fx-border-width: 3px;
    -fx-border-color: radial-gradient(center 90% 100%, radius 50%, black 10%, #B47E00 100%);
    -fx-font-size: 9px;
    -fx-background-radius: 60px;
    -fx-text-fill: #B47E00;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, #00000099, 4, 0.5, 2, 2);
    -fx-padding: 6px;
    -fx-transition: all 0.3s ease;
}

#minimized:hover {
    -fx-background-color: radial-gradient(center 50% 50%, radius 80%, rgba(113, 99, 240, 0.9) 0%, transparent 100%);
    -fx-border-color: #B47E00;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

#rectangle3 {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-color: #B47E00;
}
#sair:hover {
    -fx-text-fill: rgb(255, 0, 0);
}

#buttonfuncionario{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-border-color: #B47E00;
    -fx-border-width: 5px;
    -fx-shape: "M 0 10 L 150 10 L 160 25 L 150 40 L 0 40 L 10 25 Z";
    -fx-scale-shape: true;
    -fx-font-weight: bold;
}
#listadefuncionarios{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-border-color: #B47E00;
    -fx-border-width: 5px;
    -fx-shape: "M 0 10 L 150 10 L 160 25 L 150 40 L 0 40 L 10 25 Z";
    -fx-font-weight: bold;
}

#setpane{
    -fx-background-color:  #B47E00;
    -fx-shape: "M 0 10 L 150 10 L 175 25 L 150 40 L 0 40 L 10 25 Z";
}

#buttonfuncionario:hover{
    -fx-background-color: #b8860b;
    -fx-text-fill: black;
    -fx-effect: dropshadow(gaussian, #b8860b, 10, 0.5, 0, 0);
    -fx-font-weight: bold;
}
#listadefuncionarios:hover{
    -fx-background-color: #b8860b;
    -fx-text-fill: black;
    -fx-effect: dropshadow(gaussian, #b8860b, 10, 0.5, 0, 0);
    -fx-font-weight: bold;
}

#mensagem{
    -fx-text-fill: white;
    -fx-font-size: 20px;
}
#cadastro{
    -fx-background-color: #b8860b;
    -fx-text-fill: black;
    -fx-border-color: #b8860b;
    -fx-shape: "M 0 10 L 150 10 L 160 25 L 150 40 L 0 40 L 10 25 Z";
    -fx-font-weight: bold;
    
}
#lista{
     -fx-background-color: #b8860b;
    -fx-text-fill: black;
    -fx-border-color: #b8860b;
    -fx-shape: "M 0 10 L 150 10 L 160 25 L 150 40 L 0 40 L 10 25 Z";
    -fx-font-weight: bold;
}

#pane {
    -fx-background-color: linear-gradient(to bottom,rgba(180, 126, 0, 0.7),rgba(255, 215, 0, 0.7),rgba(255, 215, 0, 0.7));
    -fx-background-radius: 0px;
}
#nome {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(to bottom,rgba(180, 126, 0, 0.7),rgba(255, 215, 0, 0.7),rgba(255, 215, 0, 0.7));
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-padding: 5px 10px 5px 40px;
}
#pesquisa {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(to bottom,rgba(180, 126, 0, 0.7),rgba(255, 215, 0, 0.7),rgba(255, 215, 0, 0.7));
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-padding: 5px 10px 5px 10px;
}
#cargos{
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(to bottom,rgba(180, 126, 0, 0.7),rgba(255, 215, 0, 0.7),rgba(255, 215, 0, 0.7));
    -fx-border-color: transparent;
}
.menu-button > .label{
    -fx-text-fill: rgba(180, 180, 180, 1);
}
.context-menu {
    -fx-background-color: rgba(51, 51, 51, 0.8);
    -fx-border-color: transparent;
}
.menu-item > .label {
    -fx-text-fill: white;
}
.date-picker .text-field {
    -fx-background-color: linear-gradient(to bottom,rgba(180, 126, 0, 0.7),rgba(255, 215, 0, 0.7),rgba(255, 215, 0, 0.7));
    -fx-font-size: 13px;
    -fx-border-color: transparent;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}
#AnchorBlack {
    -fx-background-color: black;
}
#cadastrarFuncionario{
    -fx-background-color: linear-gradient(to bottom,rgba(180, 126, 0, 0.5),rgba(255, 215, 0, 0.5),rgba(255, 215, 0, 0.5));
    -fx-border-color: #b8860b;
    -fx-border-radius: 60px;
    -fx-background-radius: 60px;
    -fx-border-width: 2px;
    -fx-font-size: 20px;
    -fx-text-fill: rgb(255, 255, 255);
    -fx-font-weight: bold;
}
#cadastrarFuncionario:hover{
    -fx-background-color: rgba(100, 216, 125, 0.6);
    -fx-border-color: linear-gradient(to bottom,rgba(122, 187, 136, 0.6),rgba(122, 187, 136, 0.8));
    -fx-background-size: 9px;
}
#Cancelar{
    -fx-background-color: rgba(117, 117, 117, 0.5);
    -fx-border-color: rgba(117, 117, 117, 0.5);
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-width: 2px;
    -fx-font-size: 10px;
    -fx-text-fill: #979393;
    -fx-font-weight: bold;
}
#Save{
    -fx-background-color: rgba(117, 117, 117, 0.5);
    -fx-border-color: rgba(117, 117, 117, 0.5);
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-width: 2px;
    -fx-font-size: 10px;
    -fx-text-fill: #979393;
    -fx-font-weight: bold;
}
#Save:hover{
    -fx-background-color: rgba(100, 216, 125, 0.6);
    -fx-border-color: linear-gradient(to bottom,rgba(122, 187, 136, 0.6),rgba(122, 187, 136, 0.8));
    -fx-background-size: 9px;
}
#Cancelar:hover{
    -fx-background-color: rgba(196, 81, 60, 0.6);
    -fx-border-color: linear-gradient(to bottom,rgba(187, 122, 122, 0.6),rgba(187, 122, 122, 0.8));
    -fx-background-size: 9px;
}
#Text{
    -fx-font-size: 40px;
    -fx-font-weight: bold; 
    -fx-text-fill: white;
}
.column-header{
    -fx-background-radius: 10px;
    -fx-background-color: transparent;
}
.table-view .column-header-background {
    -fx-background-color: linear-gradient(to bottom,rgba(180, 126, 0, 0.5),rgba(255, 215, 0, 0.5),rgba(255, 215, 0, 0.5));
    -fx-border-color: transparent;
}
#styleview{
    -fx-background-radius: 5px;
    -fx-background-color: linear-gradient(to bottom,rgba(180, 126, 0, 0.5),rgba(255, 215, 0, 0.5),rgba(255, 215, 0, 0.5));
    -fx-text-fill: rgb(0, 0, 0);
    -fx-table-cell-border-color: transparent;
}
.table-row-cell {
    -fx-background-color: transparent;
}

.table-row-cell:odd {
    -fx-background-color: rgba(0, 0, 0, 0);
}
.table-row-cell:selected {
    -fx-background-color: rgba(0, 0, 0, 0.6);
}
.table-cell {
    -fx-border-color: transparent;
    -fx-alignment: CENTER;
}
.table-row-cell:filled:selected .table-cell {
    -fx-text-fill: rgb(255, 255, 255);
}

#listaVenda{
    -fx-background-radius: 10px;
    -fx-background-color: linear-gradient(to bottom,rgba(180, 126, 0, 0.5),rgba(255, 215, 0, 0.5),rgba(255, 215, 0, 0.5));
    -fx-text-fill: rgb(0, 0, 0);
    -fx-table-cell-border-color: transparent;
    -fx-border-color: black;
}


#TextArea{
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(to bottom,rgba(180, 126, 0, 0.7),rgba(255, 215, 0, 0.7),rgba(255, 215, 0, 0.7));
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-padding: 5px 10px 5px 40px;
}

.text-area .content {
    -fx-background-color: transparent;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .viewport {
    -fx-background-color: transparent;
}

.text-area .scroll-bar:vertical,.text-area .scroll-bar:horizontal {
    -fx-background-color: transparent;
}
.scroll-bar:vertical, .scroll-bar:horizontal {
    -fx-background-color: transparent;
}
.scroll-bar .thumb {
    -fx-background-color: rgba(51, 51, 51, 0.8);
    -fx-background-radius: 3;
}
.table-view .corner {
    -fx-background-color: transparent;
}

#PaneAlert {
    -fx-background-color: linear-gradient(to bottom,rgba(180, 126, 0, 0.7),rgba(255, 215, 0, 0.7),rgba(255, 215, 0, 0.7));
    -fx-background-radius: 0px;
    -fx-border-color: transparent;
    -fx-border-radius: 30px;
}
#PaneConfirm {
    -fx-background-color: linear-gradient(to bottom,rgba(51, 180, 0, 0.7),rgba(149, 255, 0, 0.7),rgba(149, 215, 0, 0.7));
    -fx-background-radius: 0px;
    -fx-border-color: transparent;
    -fx-border-radius: 30px;
}
#alert{
    -fx-font-weight: bold; 
}
#alerttext{
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(to bottom,rgba(180, 126, 0, 0.5),rgba(255, 215, 0, 0.5),rgba(255, 215, 0, 0.5));
}
#alertConfirm{
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(to bottom,rgba(180, 126, 0, 0.5),rgba(255, 215, 0, 0.5),rgba(255, 215, 0, 0.5));
}

#buttonAlert {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-radius: 20%;
    -fx-font-size: 10px;
    -fx-border-width: 1px;
    -fx-background-radius: 10px;
}
#buttonAlert:hover{
    -fx-text-fill: white;
    -fx-background-color: rgba(51, 51, 51, 0.5);
    
}
#infoTOTAL {
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-background-color: rgba(117, 117, 117, 0.8);
    -fx-border-color: transparent;
    -fx-text-fill: white;
}
#infoRelatorio {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-background-color: rgba(117, 117, 117, 0.8);
    -fx-border-color: transparent;
    -fx-text-fill: white;
}

#info {
    -fx-font-size: 10px;
    -fx-font-weight: bold;
    -fx-background-color: rgba(117, 117, 117, 0.8);
    -fx-border-color: transparent;
    -fx-text-fill: white;
}

#meuProgress {
    -fx-accent: #b8860b;
}

#bar {
    -fx-pie-label-visible: true;
    -fx-background-color: transparent;
    -fx-text-fill: white;
}
.chart {
    -fx-background-color: transparent;
}

.chart-title {
    -fx-text-fill: #B47E00;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.chart-plot-background {
    -fx-background-color: transparent;
}

.chart-vertical-grid-lines,
.chart-horizontal-grid-lines {
    -fx-stroke: #3e3e3e;
    -fx-stroke-dash-array: 2 2;
}

.chart-bar {
     -fx-bar-fill: #0081b4;
}

.axis {
    -fx-tick-label-fill: white;
    -fx-axis-line-visible: false;
    -fx-tick-mark-visible: false;
}

.axis-label {
    -fx-text-fill: #B47E00;
    -fx-font-weight: bold;
}

